/*! HTML5 Boilerplate v5.2.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Disallow vertical resizing of textareas.
 */

textarea {
    resize: none;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* Generic */

body {
    background-image: url(../img/texturetastic_gray.png);
    font-family: 'Quattrocento Sans', sans-serif;
    text-align: center;
}

h1 {
    color: #314A56;
    font-family: 'Yeseva One', serif;
    font-size: 5em;
    font-weight: 800;
    margin: 0;
    margin-bottom: 0.5em;
    text-transform: lowercase;
}

p {
    color: #000;
    font-size: 1.6em;
    margin: 0.8em auto;
    max-width: 600px;
}

a {
    text-decoration: none !important;
}

a:hover {
    text-decoration: none !important;
}

.container-fluid {
    overflow: hidden;
}

.horizontal-gutter-1x {
    height: 5em;
}

.horizontal-gutter-2x {
    height: 10em;
}

.horizontal-gutter-3x {
    height: 15em;
}

.cta-primary {
    background-color: #E32B32;
    color: #FFF;
    cursor: pointer;
    transition-duration: 0.2s;
}

.cta-primary:hover {
    background-color: rgb(234, 46, 53);
}

.navigation-item {
    color: #D7E3E8;
    cursor: pointer;
    display: inline-block;
    font-family: 'Yeseva One', serif;
    padding: 0;
    text-align: center;
    transition-duration: 0.2s;
}

.navigation-item:hover {
    color: #FFF;
}

/* Nav bar */

.navigation-bar {
    background-color: rgba(57, 87, 101, 0.6);
    display: none;
    height: 3em;
    line-height: 3em;
    position: fixed;
    text-align: left;
    width: 100%;
    z-index: 1000;
}

.navigation-logo {
    height: 100%;
}

.navigation-logo img {
    height: 60%;
    width: auto;
}

.navigation-items-container {
    padding: 0;
}


/* Landing section */

.carrot-cleaver {
    height: auto;
    margin-left: 1em;
    margin-top: 3em;
    width: 15em;
}

.landing-container .about-quote-copy {
    font-size: 3em;
}

.landing-container .about-quote-client {
    font-size: 1.5em;
    margin-top: 0em;
}

.landing-container .navigation-item {
    font-size: 2.1em;
    margin: 0;
    text-align: center;
    color: #395765;
    margin-top: 1em;
    cursor: pointer;
    transition-duration: 0.2s;
}

.landing-container .cta-primary {
    border-radius: 0.1em;
    height: 2em;
    line-height: 2em;
}

.landing-container .navigation-item:hover {
    color: #74AFCA;
}

/* Hello section */

.about-copy-names {
    color: #E32B32;
    font-family: 'Yeseva One';
    font-size: 3em;
    margin-top: 0.5em;
}

.about-hello-container a {
    color: rgb(210, 35, 42);
    transition-duration: 0.2s;
}

.about-hello-container a:hover {
    color: rgb(234, 46, 53);
}

.about-copy-container p {
}

/* Testimonials container */

.about-testimonial-container {
    background-size: cover;
}

.about-testimonial-container h1 {
    font-size: 2.2em;
    margin-top: 2em;
}

.about-quote-container {
    height: 22em;
    margin-top: 4em;
    padding-left: 0.4em;
    padding-right: 0.4em;
    position: relative;
}

.about-quote-image-container,
.about-quote-copy-container {
    position: absolute;
}

.about-quote-image-container {
    background-size: cover;
    background-position: center;
    border: 0.8em solid #FFF;
    border-radius: 50%;
    -webkit-box-shadow: 0px 4px 10px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 4px 10px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 4px 10px 0px rgba(0,0,0,0.75);
    height: 21em;
    width: 21em;
}

.about-quote-copy-container {
    background-color: rgba(255,255,255,0.8);
    -webkit-box-shadow: 0px 4px 10px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 4px 10px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 4px 10px 0px rgba(0,0,0,0.75);
    font-size: 0.6em;
    padding: 2em;
    text-align: left;
    top: 25em;
    width: 35em;
}

.about-quote-copy {
    border-left: 0.15em solid #395765;
    border-right: 0.15em solid #395765;
    color: #395765;
    font-size: 2.2em;
    font-weight: 800;
    margin: 0;
    padding-left: 1em;
    padding-right: 1em;
    text-transform: uppercase;
    width: 14em;
}

.about-quote-client {
    color: #E32B32;
    font-family: 'Yeseva One', serif;
    font-size: 3em;
    line-height: 0.8em;
    margin: 0;
    margin-top: 0.4em;
    text-transform: lowercase;
}

/* Services */

.service {
    background-size: cover;
    background-position: center;
    border-radius: 0.3em;
    -webkit-box-shadow: 0px 4px 10px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 4px 10px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 4px 10px 0px rgba(0,0,0,0.75);
    /*margin: auto;*/
    margin-bottom: 4em;
    /*max-width: 600px;*/
    padding: 0;
    position: relative;
}

.service-overlay-background {
    background-color: rgba(0,0,0,0.5);
    height: 100%;
    overflow: hidden;
    width: 100%;
}

.service-overlay {
    border: 0.6em solid #FFF;
    height: calc(100% - 2em);
    margin: 1em;
}

.service h4 {
    bottom: 0.4em;
    color: #FFF;
    font-size: 2em;
    font-weight: 800;
    margin-bottom: 0.5em;
    margin-top: 1em;
    text-align: center;
    width: 100%;
}

.service p {		
    color: white;		
    font-size: 1.2em;		
    margin-bottom: 1.5em;		
}

.service-parties {
    background-image: url(../img/gs-tbird.jpg);     
}

.service-popups {
    background-image: url(../img/gs-popups.png);     
}

.service-catering {
    background-image: url(../img/gs-catering.jpg);     
}

.service-menu {
    background-color: rgba(255,255,255,0.9);
    cursor: pointer;
    display: inline-block;
    font-family: 'Yeseva One', serif;
    height: 9em;
    margin-bottom: 2em;
    margin-left: 1em;
    margin-right: 1em;
    overflow: hidden;
    padding: 0.4em;
    padding-top: 1.8em;
    position: relative;
    transition-duration: 0.2s;
    width: 9em;
    border-radius: 50%;
    transition-duration: 0.2s;
}

.service-menu:hover {
    margin-top: 0.3em;
    margin-bottom: 1.7em;
}

.service-menu p {
    color: #2C3B42;
    font-size: 1em;
    position: absolute;
    left: 1.4em;
    width: 6em;
}

.carrot-cleaver-tiny {
    height: auto;
    width: 6.2em;
    position: absolute;
    bottom: 1.5em;
    left: 1.8em;
}

.services-content-container .cta-primary {
    font-family: 'Yeseva One';
    font-size: 1.4em;
    height: 3em;
    line-height: 3em;
    margin: auto;
    margin-bottom: 2em;
    width: 40%;
}

/* Latest and gallery section */

.about-latest-container {
}

.fb-feed-container {
    max-width: 100%;
}

.fb-page,
.fb-page span,
.fb-page span iframe {
    width: 100% !important;
    margin: auto;
    max-width: 474px !important;
}

.fb-like-button,
.insta-follow-button {
    border-radius: 0.2em;
    color: #FFF;
    cursor: pointer;
    height: 3em;
    line-height: 3em;
    margin: auto;
    margin-top: 1em;
    max-width: 474px;
    transition-duration: 0.2s;
    width: 100%;
}

.fa-thumbs-up,
.fa-instagram {
    margin-right: 0.4em;
}

.fb-like-button {
    background-color: #415CA9;
}

.fb-like-button:hover {
    background-color: #4765BA;
}

.insta-follow-button {
    background-color: #517FA4;
}

.insta-follow-button:hover {
    background-color: #5B8EB6;
}

#instafeed {
    height: 600px;
    margin: auto;
    max-width: calc(474px + 0.8em);
    overflow: auto;
    width: calc(100% + 0.8em);
}

.instafeed-image-container {
    border: 0.8em solid #FFF;
    display: inline-block;
    margin-bottom: 0.8em;
    margin-left: 0.4em;
    margin-right: 0.4em;
    width: calc(50% - 0.8em);
}

.instafeed-image-container img {
    height: auto;
    width: 100%;
}

/* Footer */

.footer {
    background-color: rgba(57, 87, 101, 0.6);
    color: white;
}


/* RESPONSIVE */ 

/* make food images more dominant on larger screens*/

@media screen and (min-width: 1220px) {
    .about-quote-image-container {
        height: 25em;
        width: 25em;
    }
}

/* md and up */

@media screen and (min-width: 992px) {

    .logo {
        margin-top: 2em;
    }

    .about-quote-container {
        height: 24em;
    }

    .about-quote-container-odd .about-quote-image-container {
        left: -55px;
    }

    .about-quote-container-odd .about-quote-copy-container {
        left: -220px;
    }

    .about-quote-container-even .about-quote-image-container {
        right: -55px;
    }

    .about-quote-container-even .about-quote-copy-container {
        right: -220px;
    }

}

/* sm */

@media screen and (max-width: 991px) {

    .about-quote-image-container {
        left: calc(50% - 14em);
    }

    .about-quote-copy-container {
        left: 50%;
    }

    .about-gallery-container {
        margin-top: 12em;
    }

}

/* xs */

@media screen and (max-width: 767px) {

    .about-quote-image-container {
        left: 14%;
    }

    .about-quote-copy-container {
        left: 45%;
    }

    .service {
        width: 95%;
        margin-left: 2.5%;
    }

    .services-content-container .cta-primary {
        width: 89%;
    }

}

/* xxs-xs */

@media screen and (max-width: 600px) {

    .about-quote-image-container {
        left: 11%;
    }

    .about-quote-copy-container {
        left: 37%;
    }

}

/* xxs */

@media screen and (max-width: 480px) {

    .logo {
        margin-top: 4em;
    }

    .carrot-cleaver {
        width: 10em;
    }

    .about-quote-image-container {
        height: 20em;
        left: 15%;
        width: 20em;
    }

    .about-quote-copy-container {
        font-size: 0.6em;
        left: 24%;
    }

    h1 {
        font-size: 4em;
    }

    p {
        font-size: 1.2em;
    }

    .about-copy-names {
        font-size: 2.5em;
        margin-top: 0.7em;
    }

    .about-gallery-container {
        margin-top: 8em;
    }

}

/* tn */

@media screen and (max-width: 383px) {

    .logo {
        margin-top: 2em;
    }

    .about-quote-container {
        margin-top: 2em;
    }

    .about-quote-image-container {
        height: 16em;
        left: 12%;
        width: 16em;
    }

    .about-quote-copy-container {
        font-size: 0.6em;
        left: 4%;
        top: 21em;
    }

}

/* nav bar peculiarities */

@media screen and (max-width: 600px) {

    .navigation-items-container .navigation-item {
        font-size: 0.9em;
    }

}

@media screen and (max-width: 480px) {

    .navigation-items-container .navigation-item {
        margin-top: -1px;
    }

}



/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers:
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
